@import "./app-theme.less";
html,
body,
#root,
#app-layout {
  height: 100%;
}
#app-layout {
  background-color: #f5f5f5;
  overflow: hidden;
  #app-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 64px;
    color: white;
    background-color: @primary-bg-color;
    box-shadow: 0 2px 8px #8bc34a;
    display: flex;
    .logo {
      width: 240px;
      flex: 0 0 auto;
      padding: 12px 0;
      line-height: 40px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
    .head-nav {
      flex-grow: 1;
      line-height: 64px;
      .nav-item {
        display: inline-block;
        padding: 0 12px;
        height: 100%;
      }
      .nav-item.active {
        background-color: @primary-color;
      }
    }
    .head-user {
      width: 120px;
      flex: 0 0 none;
      align-self: flex-end;
      .avator {
        margin: 12px 40px;
        width: 40px;
        height: 40px;
        background-color: white;
        color: @primary-color;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  #app-content {
    margin-top: 64px;
    height: calc(100% - 64px);
    display: flex;
    #app-aside {
      flex: 0 0 auto;
      width: 240px;
      height: 100%;
      .aside-item{
        padding-left: 12px;
        line-height: 48px;
        height: 48px;
        background-color: white;
        border-bottom: 1px solid #eee;
        cursor: pointer;
      }
      .add-item{
        color:@md-blue-900;
        :first-child{
          margin-right: 4px;
        }
      }
      .active{
        background-color: @primary-bg-color;
      }
      .target-item{
        padding-left: 12px;
        line-height: 48px;
        height: 48px;
      }
    }
    #app-container {
      flex-grow: 1;
      height: 100%;
    }
  }
}
