.home-view{
    margin:0 auto;
    display: flex;
    width: 960px;
    justify-content: space-between;
    .target-board{
        flex: none;
        width: 240px;
        // min-height: 200px;
        // padding: 8px 12px;
        // border-radius: 8px;
    }
    .todo-board{
        flex: none;
        width: 640px;
        min-height: 600px;
        padding: 8px 12px;
        border-radius: 8px;
        background-color: white;
    }
}